# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
 
# Common credential files
**/credentials.json
**/client_secrets.json
**/client_secret.json
*creds*
*.dat
*password*
*.httr-oauth*

 
# Mac/OSX
.DS_Store
 
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
 
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
 
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Terraform
.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup